{% extends "Blog/padre.html" %}

{% block contenidoQueCambia %}
<div style="padding: 20px; background-color: #fff; margin: auto; max-width: 40%">    
    <h4 style="color: #4a90e2; border-bottom: 2px solid #4a90e2; padding-bottom: 10px;">Mi Blog</h4>

    {% if blogs %}
    <div style="margin-top: 20px; text-align: center;">
        {% for blog in blogs %}
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <button style="background-color: #4CAF50; color: white; padding: 8px 12px; border: none; border-radius: 5px; cursor: pointer; margin-bottom: 15px;">
                <a href="{% url 'blog-create' %}" style="color: white;">Nueva entrada de blog</a>
            </button>
        </div>
        
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="color: #333; background-color: #eaf2ff; padding: 8px; border-radius: 5px; margin-bottom: 10px;">
                {% if blog.imagen %}
                    <img src="{{ blog.imagen.url }}" style="max-width: 50%;"><br>
                {% endif %}
                Título: {{ blog.titulo }}<br>
                Fecha: {{ blog.fecha }}
            </p>
        </div>
        <button class="btn btn-primary;" style="background-color: #af4ca8;"><a style="color: white;" href="{% url 'blog-detail' blog.pk %}">Ver más</a></button>
        {% endfor %}
                {% else %}
                <div>
                    <p>No hay ningún post todavía, ¡crea el primero!</p>
                    <button style="background-color: #4CAF50; color: white; padding: 8px 12px; border: none; border-radius: 5px; cursor: pointer; margin-bottom: 15px;">
                        <a href="{% url 'blog-create' %}" style="color: white;">Nueva entrada de blog</a>
                    </button>
                </div>
                {% endif %}
    </div>
</div>

{% endblock %}