{% extends "Blog/padre.html" %}

{% block contenidoQueCambia %}

<div style="font-family: Arial, sans-serif; padding: 20px; background-color: #f4f4f4; max-width: 600px; margin: auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h4 style="color: #4a90e2; border-bottom: 2px solid #4a90e2; padding-bottom: 10px;">Mi perfil</h4>


    <div style="margin-top: 20px;">
    {% for profile in profiles %}
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="color: #333; background-color: #eaf2ff; padding: 8px; border-radius: 5px; margin-bottom: 10px; flex-grow: 1;">
                {% if profile.imagen %}
                        <img src="{{ profile.imagen.url }}" style="max-width: 50%;">
                {% endif %}<br>
                Nombre: {{profile.nombre}}<br>
                Descripción: {{profile.descripcion}}<br>
                Link: {{profile.link}}<br>
                Email: {{profile.email}}
            </p>
            <div>
                <button style="background-color: #4a90e2; color: white; padding: 8px 12px; border: none; border-radius: 5px; cursor: pointer; margin-left: 10px;">
                    <a href="{% url 'profile-update' profile.pk %}" style="color: white;">Editar</a>
                </button>
                <button style="background-color:  #FF5733; color: white; padding: 8px 12px; border: none; border-radius: 5px; cursor: pointer; margin-left: 10px;">
                    <a href="{% url 'profile-delete' profile.pk %}" style="color: white;">Eliminar</a>
                </button>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}