{% extends "AppCoder/padre.html" %}


{% block contenidoQueCambia %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de usuario</title>
</head>
<body>
    <h1>Creá tu usuario</h1>
    <form action="/AppCoder/cursos" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <!-- <label for="usuario">Usuario: </label><br />
        <input type="text" name="usuario"><br/><br/>

        <label for="nombre">Nombre:</label><br />
        <input type="text" name="nombre"><br /><br/>
        
        <label for="apellido">Apellido: </label><br />
        <input type="text" name="apellido"><br/><br/>
        
        <label for="curso">Curso: </label><br />
        <input type="text" name="curso"><br/><br/>
        
        <label for="camada">Camada: </label><br />
        <input type="number" name="camada"><br/><br/>
        
        <label for="telefono">Teléfono: </label><br />
        <input type="number" name="telefono"><br/><br/>
        
        <label for="email">Email: </label><br />
        <input type="email" name="email"><br/><br/> -->
        
        <button type="submit" value="Enviar">Enviar</button>
    </form>
</body>
</html>

{% endblock %} 

